* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
    color: #3f464d;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
    all : unset;
}

a:link {                                /*가상 클래스는 프로퍼티 각각 설정 필요*/
    text-decoration: none;
    color: #3f464d;
}

a:visited {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
    text-decoration: none;
    color: #3f464d;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;                    /*양 옆에 여유좀 둠*/
    overflow: hidden;                   /*inner 이상인 경우 자르기*/
}

header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    position: fixed;                    /*스크롤 처리가 되지 않도록 항상 고정*/
    top : 0;
    left: 0;
    z-index: 1000;                      /*항상 다른 요소 위에 있어야하므로 z-index 조정*/
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;                      /*안에 있는 값을 정렬해야하기 때문에 flex*/
    justify-content: space-between;     /*양옆으로 넓게 수평 조정*/
    align-items: center;
}

.head-container .head-brand {
    font-weight: bold;
    font-size: 1.2rem;                  /*em쓰면 부모 요소에 영향을 받을 수 있음, 브라우저에 설정된 rem 사용*/
}

.head-container .head-brand a:hover{    /*로고에 마우스 가져다 대었을때 색 변경*/
    color: #2186C4;
    cursor: pointer;
}

.head-container .head-blog {
    font-weight: bold;
    font-size: 1.2rem;                  /*em쓰면 부모 요소에 영향을 받을 수 있음, 브라우저에 설정된 rem 사용*/
}

/*section 영역*/
section { 
    width: 100%;
    background-color: #ffffff;
    position: relative;                 /*absoluete는 position: relative에 영향 받는다*/
}

.main {
    height: 360px;
    background-image: url("/img/main_bakground.PNG");
    background-size: cover;
    background-position: center 5%;
    background-repeat: no-repeat;       /*사진 반복 보여주기 제거*/
    z-index: 1;
    
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(47, 48, 89);
    opacity: 0.8;                       /*투명도 조절*/
    z-index: 2;                         /*main의 이미지를 덮어야 하기 때문에 z-index 우선 순위 향상*/
    margin-top: 60px;
}

.title-container {
    padding: 100px;
    padding-bottom: 100px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.8rem;
}

.message {
    font-size: 1.4rem;
    font-weight: normal;
    color: #ffffff;
    line-height: 2rem;
}

/*section2 영역*/
.skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.skill {
    width: 25%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding: 0.5rem;
    margin: 0 1rem;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    transition: 0.4s;
}

.skill:hover {
    transform: translate(0, -5px);
}

.skill-icon {
    font-size: 2.5rem;
    margin: 0 10px;                          /* 위아래, 양쪽 */
}


.skill-title {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skill-name {
    font-weight: bold;
    color: #545e6f;
    margin-bottom: 0.2rem;
}

.skill-usage {
    font-size: 0.9rem;
    color: #545e6f;
}

.analysis-style {
    color: #ff8066;
}

.python-style {
    color: #2186c4;
}

.ai-style {
    color: #f7df1e;
}

.vue-style {
    color: #2e7d32;
}

.roadmap-container {
    width: 100%;
    margin-top: 2rem;
}

.roadmap-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roadmap-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #545e6f;
}

.slide-prev {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(47, 48, 89);
}

.slide-next {
    font-size: 2rem;
    cursor: pointer;
    color: #cfd8dc;
}

.slide-prev-hover:hover {
    transition: transform 0.5s;
    transform: translateX(-2px);
}

.slide-next-hover:hover {
    transition: transform 0.5s;
    transform: translateX(2px);
}

.arrow-container {
    display: flex;
}

.class-list {
    display: flex;
    list-style: none;   /**/
    padding: 1rem 0;         /*li요소를 list-style을 none으로 해도 마진, 패딩은 추가 설정 필요*/
    margin: 0;
    overflow: none;         /*사이즈 넘쳤을때 보여줌 overflow를 hidden으로 설정하면 transform 시 이미지 짤림*/
}

.class-card {
    width: 240px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 9px;
    margin : 0 10px;
    transition: 0.4s;
    flex-shrink: 0;
}

.class-card:hover {
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    transform: translate(0, -5px);
}

.class-image {
    max-width: 240px;
    height: 150px;
    border-radius: 9px 9px 0 0; 
}

.class-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class-type {
    font-size: 0.9rem;
}

.class-format {
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #0d47a1;
    padding: 0.2rem;
}

.class-desc {
    width: 100%;
    margin-top: 1rem;
    color: #545e6f;
}

.class-desc:hover {
    color: #2186C4;
}

.class-title {
    font-weight: bold;
    /* color: #545e6f; */
    color: inherit;                     /*자식 클래스가 부모클래스의 color 속성 상속 받음*/
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;            /*글자가 잘렸을 경우 말 줄임표로 표시*/
    margin-bottom: 0.5rem;
}

.class-detail {
    font-size: 0.9rem;
    color: inherit;                     /*자식 클래스가 부모클래스의 color 속성 상속 받음*/
    /* color: #545e6f; */
    line-height: 1.5rem;
}

.roadmap-desc {
    display: visible;                   /*특정 사이즈가 되면 특정 글자는 안보임*/
}

li a:hover {
    cursor: pointer;
}

footer {
    border-top: 1px solid #e4e4e4;
    background-color: #f8f9fa;
    padding: 1rem 0;
    margin: 1rem 0;
}

.footer-message {
    font-weight: bold;
    color: #545e6f;
    margin: 0.3rem 0.5rem;
}

.footer-contact {
    color: #545e6f;
    margin: 0 0.5rem;
}

.footer-copyright {
    color: #545e6f;
    margin: 1rem 0.5rem;
}

#backtotop {
    background-color: rgb(47, 48, 89);
    width: 40px;
    height: 40px;
    text-align: center;

    border-radius: 20px;                /*width와 height의 반절로 만들어서 모서리를 둥글게 만든다*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition-property : background-color, opacity, visibility;        /*트랜지션을 적용해야 하는 CSS 속성 목록*/
    transition-duration: 0.3s, 0.5s, 0.5s;      /*각 프로퍼티당 시간을 각각 줄수있다.*/

    opacity: 0;                                 /*투명도 0*/
    visibility: hidden;                         /*처음에는 가림*/
    z-index: 999;                               /*보이게 되면 우선순위 높음(맨앞으로 보임)*/
}

/*아이콘 적용 방법
    1. ::after (요소 뒤에 content 추가) 가상 요소에서
    2. content : 폰트어썸 유니코드를 넣고,
    3. font-family : fontAwsome 이라고 넣으면 됨
    */
/*after : 요소 뒤에 위치하는 공간 선택, content 프로퍼티와 함께 사용*/
#backtotop::after {
    content: "\f077";           /*폰트어썸 유니코드 추가*/
    font-family: FontAwesome;
    font-size : 1.5rem;
    line-height: 40px;
    color: #ffffff;
}

#backtotop.show {                   /*스크롤 움직이면 BackTop 버튼 보여짐*/
    opacity: 1;
    visibility: visible;
    background-color: rgb(47, 48, 49);
}

#backtotop.show:hover {
    cursor: pointer;
    background-color: #2186C4;
}

/* drag 할 수 있는 아이템임을 나타내는 표시를 포인터로 변경함 */
ul li img:hover {
    cursor: grab; /* IE11에서는 지원 안함 */
}

/* dragging 중인 상태에서 잡는 표시를 포인터로 변경함 */
ul li img:active {
    cursor: grabbing; /* IE11에서는 지원 안함 */
}


@media only screen and (min-width: 1200px) {
    .inner {
        max-width: 1200px;              /*브라우저 사이즈가 최대 1200px 고정*/
    }
}

/*section2 버튼 최대 크기 조정*/
@media only screen and (max-width: 980px) {
    .skill-container {
        display: none;              /*브라우저 크키가 980 이하인 경우 skill-container 안보여줌*/
    }
    .roadmap-desc {
        display: none;             /*브라우저 크키가 980이하인 경우 특정 글자는 안보임*/
    }
}